body {
    background: #00305e;
}

.gradient-background {
    background: linear-gradient(300deg, #00305e, #0267c5, #2a98ff);
    background-size: 180% 180%;
    animation: gradient-animation 15s ease infinite;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.section-design {
    padding-bottom: 5vh;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    background: rgb(0, 48, 94);
    color: white;
    font-size:medium;
    font-family: 'Times New Roman', Times, serif;
    width: auto;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
    
}

.section-bg{
  background: rgb(0, 48, 94);
  width: auto;
}

.left-aligned-part {
    background: rgb(0, 48, 94);
    color: white;
}

.col {
    padding: 20px;
}

.image-comein {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.blue-background{
    background-color: rgb(0, 48, 94);
}
 
.text-style{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.learning-image{
    max-width: 80%;
    height: auto;
    object-fit: cover;
}

.language-image{
  max-width: 60%;
  height: auto;
  object-fit: cover;
}

.language-image-R{
  max-width: 20%;
  height: auto;
  object-fit: cover;
}

.language-link{
  color: white;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  width: auto;
}

a:hover{
  color: red;
  background-color: white
}

